<h1>Listing Gametypes</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gametypes.each do |gametype| %>
      <tr>
        <td><%= gametype.name %></td>
        <td><%= image_tag(gametype.image, size: "50") %></td>
        <td><%= link_to 'Show', gametype %></td>
        <td><%= link_to 'Edit', edit_gametype_path(gametype) %></td>
        <td><%= link_to 'Destroy', gametype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gametype', new_gametype_path %>
