<p>
  <strong>Name:</strong>
  <%= @gametype.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gametype.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @gametype.category %>
</p>

<%= link_to 'Edit', edit_gametype_path(@gametype) %> |
<%= link_to 'Back', gametypes_path %>
