<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@game) do |f| %>
      <% if @game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
          <% @game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :gametype %><br>
        <%= f.collection_select(:gametype_id, Gametype.all, :id, :name) %>
      </div>

      <div class="field">
        <%= f.label :start %><br>
        <div class='input-group date' id='datetimepicker'>
        <%= f.text_field :start, :class => "form-control"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :end %><br>
        <div class='input-group date' id='datetimepicker2'>
        <%= f.text_field :end, :class => "form-control"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :address %><br>
        <%= f.gmap_coordinate_picker :api_key => 'AIzaSyDJbp32tSbN-En9Zb2eU43iGwPmqp2uYwc' %>
      </div>
      <%= f.hidden_field :user_id %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

    <script type="text/javascript">
      $(function () {
        $('#datetimepicker').datetimepicker({
            <% if @game.start != nil %>
            defaultDate: "<%= @game.start %>",
            <% else %>
            defaultDate: moment(),
            <% end %>
            minDate: moment().subtract(1,'day'),
            format: "YYYY-MM-DD hh:mm a Z",
            sideBySide: true});
        $('#datetimepicker2').datetimepicker({
            <% if @game.end != nil %>
            defaultDate: "<%= @game.end %>",
            <% else %>
            defaultDate: moment(),
            <% end %>
            <% if @game.start != nil %>
            minDate: "<%= @game.start %>",
            <% else %>
            minDate: moment().subtract(1,'day'),
            <% end %>
            format: "YYYY-MM-DD hh:mm a Z",
            useCurrent:false,
            sideBySide: true});
        $("#datetimepicker").on("dp.change", function (e) {
           if(e.date.isAfter($('#datetimepicker2').data("DateTimePicker").date())){
            $('#datetimepicker2').data("DateTimePicker").date(e.date);
           }
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
      });
    </script>