<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@game) do |f| %>
      <% if @game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
          <% @game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, 'Event Name', class: "control-label" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :gametype, 'What game are you playing?', class: "control-label" %><br>
        <%= f.collection_select(:gametype_id, Gametype.all, :id, :name, {prompt: "Select a game!"}, {class: "form-control"})%>
      </div>

      <div class="row">

      <div class="form-group col-md-4">
        <%= f.label :need_players, 'Need More Players?', class: "control-label" %>
        <%= f.check_box :need_players, {}, true, false %>
      </div>

      <div class="form-group col-md-4" id="need_count" style="display:none;">
        <%= f.label :need_count, 'How many?', class: "control-label" %><br>
        <%= f.number_field :need_count, in: 0..100, step: 1, class: "form-control" %>
      </div>

      </div>

      <div class="form-group">
        <%= f.label :start_time, 'Start Time', class: "control-label" %><br>
        <div class='input-group date' id='datetimepicker'>
        <%= f.text_field :start_time, :class => "form-control"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :end_time, 'End Time', class: "control-label" %><br>
        <div class='input-group date' id='datetimepicker2'>
        <%= f.text_field :end_time, :class => "form-control"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, 'Pick a Location!', class: "control-label" %><br>
        <%= f.gmap_coordinate_picker :api_key => 'AIzaSyDJbp32tSbN-En9Zb2eU43iGwPmqp2uYwc' %>
      </div>

      <div class="form-group">
        <%= f.label :description, 'Location Description', class: "control-label" %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <%= f.hidden_field :user_id %>
      <div class="actions">
        <%= f.submit "Submit", :class => "btn btn-default btn-primary submit" %>
      </div>
    <% end %>
  </div>
</div>

    <script type="text/javascript">
      $(function () {
        $('#datetimepicker').datetimepicker({
            <% if @game.start_time != nil %>
            defaultDate: "<%= @game.start_time %>",
            <% else %>
            defaultDate: moment(),
            <% end %>
            minDate: moment().subtract(1,'day'),
            format: "YYYY-MM-DD hh:mm a Z",
            sideBySide: true});
        $('#datetimepicker2').datetimepicker({
            <% if @game.end_time != nil %>
            defaultDate: "<%= @game.end_time %>",
            <% else %>
            defaultDate: moment(),
            <% end %>
            <% if @game.start_time != nil %>
            minDate: "<%= @game.start_time %>",
            <% else %>
            minDate: moment().subtract(1,'day'),
            <% end %>
            format: "YYYY-MM-DD hh:mm a Z",
            useCurrent:false,
            sideBySide: true});
        $("#datetimepicker").on("dp.change", function (e) {
           if(e.date.isAfter($('#datetimepicker2').data("DateTimePicker").date())){
            $('#datetimepicker2').data("DateTimePicker").date(e.date);
           }
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
      });
      var checkbox = document.getElementById('game_need_players');
      var count_div = document.getElementById('need_count');
      checkbox.onchange = function() {
         if(this.checked) {
           count_div.style['display'] = 'block';
         } else {
           count_div.style['display'] = 'none';
         }
      };
      window.onload = function() {
         if(checkbox.checked) {
           count_div.style['display'] = 'block';
         } else {
           count_div.style['display'] = 'none';
         }
      };
    </script>