<li id="game-<%= game.id %>">
  <%= image_tag(game.gametype.image, size: "50") %>
  <span class="user"><%= link_to game.user.name, game.user %></span>
  <span class="name"><%= game.name %></span>
  <span class="start time">
    Start Time: <%= game.start.strftime("%m/%d %I:%M%p %Z") %>
  </span>
  <span class="end time">
    End Time: <%= game.end.strftime("%m/%d %I:%M%p %Z") %>
  </span>
</li>