<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Map", games_path(view: "map") %>
  </li>
  <li class="nav-item active">
    <%= link_to "List", games_path(view: "list") %>
  </li>
  <li class="pull-right tag"><a>
    Listing Games</a>
  </li>
</ul>

<table class = "table top20">
  <thead class="thead-default">
    <tr>
      <th></th>
      <th>Name</th>
      <th>User</th>
      <th>Start</th>
      <th>End</th>
      <th>Players?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag(game.gametype.image, size: "50") %></td>
        <td><%= link_to game.name, game %></td>
        <td><%= link_to game.user.name, game.user %></td>
        <td><%= game.start_time.strftime("%m/%d %I:%M%p %Z") %></td>
        <td><%= game.end_time.strftime("%m/%d %I:%M%p %Z") %></td>
        <td>
        <% if game.need_players || game.count >= game.need_count %>
          <span class="glyphicon glyphicon-ok">
        <% else %>
          <strong>Needs <%= pluralize(game.need_count - game.count, 'player') %>! </strong>
        <% end %>
        </td>
        <% if user_signed_in? && current_user!=game.user && !game.attendees.map(&:id).include?(current_user.id) %>
          <td>
            <%= link_to 'join', join_game_path(game.id),:class => 'btn btn-primary btn-sm'%>
          </td>
        <% elsif user_signed_in? && current_user!=game.user && game.attendees.map(&:id).include?(current_user.id) %>
          <td>
            <%= button_to 'leave', leave_game_path(game.id),:class => 'btn btn-danger btn-sm', :method => :delete %>
          </td>
        <% end %>
        <% if current_user==game.user %>
          <td><%= link_to 'Edit', edit_game_path(game), :class => 'btn btn-primary btn-sm' %></td>
          <td>
          <%=  button_to 'Destroy',game,:class => 'btn btn-danger btn-sm', method: :delete, :onclick => "return confirm('Are you sure you want to delete this game?')" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to 'New Game', new_game_path,  :class => 'submit btn btn-primary btn-lg' %>
 <% else %>
   <h3> Sign in to join and make games! </h3>
<% end %>