<% if !(defined? Gmaps) || !(defined? google) %>

<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDJbp32tSbN-En9Zb2eU43iGwPmqp2uYwc&sensor=false'></script>
<script type="text/javascript" src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script type="text/javascript" src='https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<!-- only if you need custom infoboxes -->
<%= gmaps( data_hash, true, false) %>
<% end %>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <%= link_to "Map", games_path(view: "map") %>
    </li>
    <li class="nav-item">
        <%= link_to "List", games_path(view: "list") %>
    </li>
    <li class="pull-right tag">
        <a>
            Listing Games</a>
    </li>
</ul>

<div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<div class="row">

    <div class="col-xs-2 ">
        <% if user_signed_in? %>
        <%= link_to 'New Game', new_game_path,  :class => 'submit btn btn-primary btn-lg' %>
    <% else %>
        <h3>
            Sign in to join and make games!
        </h3>
        <% end %>
    </div>
    <div class="legend">
        <%= image_tag("legend.png", alt: "legend", title: "legend", size: "430x60") %>
    </div>
</div>
<script>
    $(document).ready(function () {
        handler = Gmaps.build('Google');
        handler.buildMap({
            provider: {
                center: {
                    lat: 42.4075,
                    lng: -71.1190
                }
            },
            internal: {
                id: 'map'
            }
        }, function () {
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.getMap().setZoom(16)
        });
    });
</script>
