<p id="notice"><%= notice %></p>

<%= link_to "Map", games_path(view: "map") %>
<%= link_to "List", games_path(view: "list") %>

<%= render @partial %>

<% if user_signed_in? %>
  <%= link_to 'New Game', new_game_path,  :class => 'btn btn-primary' %>
<% end %>
