<p id="notice"><%= notice %></p>
<div>
<p>
  <%= image_tag(@game.gametype.image, size: "100") %>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
</div>

<p>
  <strong>Creator:</strong>
  <%= gravatar_for @game.user, size: 50 %>
  <%= @game.user.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @game.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @game.end %>
</p>

<h2>Who's coming?</h2>

<ul>
	<% @game.attendees.each do |attendee| %>
	    <li>
      <%= gravatar_for attendee, size: 50 %>
      <%= link_to attendee.name, attendee %>
    </li>
	<% end %>
</ul>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
