<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class ="navbar navbar-fixed-top navbar-inverse">
      <div>
        <%= link_to 'BigGameHunter', games_path , id: "logo", :class => 'navbar-link', 'data-no-turbolink' => true %>
        <nav>
          <ul class="nav navbar-nav navbar-right"> <!-- nav navbar-nav navbar-right -->
          <li><%= link_to "Users", users_path %></li>
      		<% if user_signed_in? %>
            <li><%= gravatar_for current_user, size: 30 %></li>
            <li><%= link_to current_user.name, current_user , :class => 'navbar-link' %></li>
      		  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
      		  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      		<% else %>
      		  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
      		  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      		<% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </body>
</html>
